{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": false,
          "browsers": ["ie >= 11"]
        }
      }
    ],
    "@babel/preset-typescript"
  ]
}
