body {
  background-color: #1e67b0;
  margin: 0;
  padding: 0;
}

.chunksContainer {
  --border: rgb(0, 32, 69);
  --detail-bg: rgb(45, 54, 65);
  --summary-bg: rgb(59, 71, 85);
  --link: rgb(24, 149, 245);
  border: 1px solid var(--border);
  background-color: var(--detail-bg);
  border-radius: 8px;
  margin: 2px;
  overflow: hidden;
  color:   var(--link);
  user-select: none;
  position: fixed;
  opacity: 0;
  top:0;
  left: 0;
  right: 0;
  z-index: 10;
}

.chunksContainer:hover {
  opacity: 1;
}

.chunksSummary {
  background-color: var(--summary-bg);
  padding: 2px 8px;
}
.chunkAnchors {
  display: flex;
  margin: 4px;
  gap: 4px;
}
.chunkAnchorContainer {
  border: 1px solid var(--link);
  border-radius: 4px;
  padding: 2px 6px;
}
.chunkAnchorElement,
.chunkAnchorElement:hover, 
.chunkAnchorElement:visited,
.chunkAnchorElement:active {
  font-weight: 700;
  color: var(--link);
  text-decoration: none;
}

.monoFont {
  font-family: 'Courier New', Courier, monospace;
}