.chunksContainer {
  --border: rgb(0, 119, 255);
  --detail-bg: rgb(212, 232, 255);
  --summary-bg: rgb(190, 219, 252);
  --link: rgb(0, 15, 101);
  border: 1px solid var(--border);
  background-color: var(--detail-bg);
  border-radius: 8px;
  margin: 2px;
  overflow:hidden;
}
.chunksSummary {
  user-select: none;
  background-color: var(--summary-bg);
  padding: 2px 8px;
}
.chunkAnchors {
  display: flex;
  margin: 4px;
  gap: 4px;
}
.chunkAnchorContainer {
  border: 1px solid var(--border);
  border-radius: 4px;
  padding: 2px 6px;
}
.chunkAnchorElement,
.chunkAnchorElement:hover, 
.chunkAnchorElement:visited,
.chunkAnchorElement:active {
  font-weight: 700;
  color: var(--link);
  text-decoration: none;
}